* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    transition: all 300ms;
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    border: none;
}

button:hover,
a:hover {
    cursor: pointer;
}

button:active,
a:active {
    transform: scale(0.95);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    color: inherit;
}

.container {
    width: 1440px;
    width: 90%;
    margin: auto;
    padding: 1%;
}

/* header */

header {
    margin-bottom: 130px;
}

header .container {
    width: 100%;
    padding: 0;
}

.header-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #111131;
    color: #ABABFA;
    font-size: 13px;
    font-weight: 400;
    padding: 1% 0px;
}

.header-link {
    font-size: 11px;
}

.header-link:hover {
    text-decoration: underline;
    font-weight: normal;
}

nav {
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 6px 6px 16px 0px rgba(17, 17, 49, 0.12);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-logo {
    width: 218px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.nav-item {
    color: #413E52;
    font-size: 14px;
    font-weight: 400;
}

.nav-item select {
    border: none;
    background-color: transparent;
    color: #413E52;
    font-size: 14px;
    font-weight: 400;
}

.nav-item select:hover {
    cursor: pointer;
}

.nav-item select:focus {
    outline: 1px solid #5C5CFF;
}

.nav-right {
    display: flex;
    width: 100%;
    gap: 18px;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 10px;
}

.nav-search input {
    width: 90%;
    padding: 1%;
    font-size: 16px;
    display: none;
}

.nav-search button {
    font-size: 32px;
    background-color: transparent;
    border: none;
    color: #514D66;
}

.nav-btn {
    border-radius: 4px;
    background: #5C5CFF;
    padding: 2% 4%;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 1px solid #5C5CFF;
}

.nav-btn:hover {
    background-color: white;
    color: #5C5CFF;
}

.burger-side {
    display: none;
}

/* hero */

.hero {
    margin-bottom: 185px;
}

.hero::before {
    content: url(./../media/hero-bcg.svg);
    position: absolute;
    z-index: -1;
    right: 0;
    top: 190px;
}

.hero::after {
    content: url(./../media/hero-bcg.svg);
    position: absolute;
    bottom: -250px;
    z-index: -1;
}

.hero .container {
    border: 1px solid #86829779;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    background-color: white;
    gap: 20px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    border-left: 4px solid #5C5CFF;
    padding: 15% 0px 15% 10%;
}

.hero-subheading {
    margin-bottom: 33px;
    color: #5C5CFF;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.hero-heading {
    color: #413E52;
    font-size: 42px;
    letter-spacing: 1px;
    margin-bottom: 29px;
}

.hero-author {
    color: #413E52;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.hero-date {
    color: #868297;
    font-size: 13px;
}

.hero-right {
    display: flex;
    align-items: center;
}

/* artciles */

.articles {
    margin-bottom: 130px;
}

.articles-up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    border-bottom: 1px solid #8682977a;
    margin-bottom: 33px;
}

.articles-heading {
    color: #413E52;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.articles-view {
    background-color: transparent;
    color: #413E52;
    font-size: 14px;
}

.articles-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px;
}

.articles-card {
    border: 1px solid #8682977a;
}

.articles-card:hover {
    transform: scale(1.05);
}

.articles-text {
    padding: 13% 8%;
}

.articles-title {
    margin-bottom: 31px;
    color: #5C5CFF;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.articles-author {
    color: #868297;
    font-size: 13px;
    margin-bottom: 7px;
}

.articles-info {
    color: #413E52;
    font-size: 19px;
}

/* ebook */

.ebook {
    margin-bottom: 130px;
}

.ebook form {
    border-radius: 8px;
    background: #111131;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.ebook-heading {
    margin-bottom: 27px;
    color: #5C5CFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.ebook-text {
    color: #FFF;
    font-size: 31px;
    letter-spacing: 1px;
}

.ebook-right input {
    width: 100%;
    padding: 3% 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #8989F8;
    background: #1B1B4D;
    margin-bottom: 16px;
    color: white;
    font-size: 20px;
}

.ebook-right input::placeholder {
    color: #5C5CFF;
}

.ebook-right input:focus {
    outline: none;
}

.ebook-right button {
    width: 100%;
    padding: 3% 0;
    text-align: center;
    border-radius: 4px;
    background: #5C5CFF;
    color: white;
    border: 1px solid #5C5CFF;
}

.ebook-right button:hover {
    background-color: transparent;
}

/* Studies */

.studies {
    margin-bottom: 130px;
    position: relative;
}

.studies::before {
    content: url(./../media/hero-bcg.svg);
    position: absolute;
    bottom: 60px;
    z-index: -1;
}

.studies-up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    margin-bottom: 33px;
    border-bottom: 1px solid #8682977a;
}

.studies-heading {
    color: #413E52;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.studies-view {
    color: #413E52;
    font-size: 14px;
    background-color: transparent;
}

.studies-cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 36px 57px;
    background-color: white;
}

.studies-card {
    display: flex;
}

.studies-card a {
    display: flex;
    flex-direction: column;
}

.studies-card:hover {
    transform: scale(1.01);
}

.studies-card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    border: 1px solid #8682977a;
    background-color: white;
}

.studies-card:nth-child(1) .studies-text {
    padding: 5% 3% 7%;
}

.studies-author {
    color: #868297;
    font-size: 13px;
    margin-bottom: 2px;
}

.studies-title {
    color: #413E52;
    font-size: 29px;
}

/* News */

.news {
    margin-bottom: 250px;
}

.news .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
}

.news-tech {
    display: flex;
    flex-direction: column;
}

.news-up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4%;
    border-bottom: 1px solid #8682977a;
    margin-bottom: 28px;
}

.news-heading {
    color: #413E52;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.news-view {
    color: #413E52;
    font-size: 14px;
    background-color: transparent;
}

.news-list {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.news-item {
    display: flex;
    flex-direction: column;
}

.news-item:hover {
    transform: scale(1.05);
}

.news-author {
    color: #868297;
    font-size: 13px;
    margin-bottom: 5px;
}

.news-title {
    color: #413E52;
    font-size: 20px;
}

.news form {
    padding: 15%;
    border-radius: 8px;
    background: #111131;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.news form i {
    font-size: 64px;
    color: #5C5CFF;
    margin-bottom: 40px;
}

.news-subheading {
    color: #5C5CFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.news-info {
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 37px;
}

.news form input {
    width: 100%;
    margin-bottom: 16px;
    padding: 7% 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #8989F8;
    background: #1B1B4D;
    color: white;
    font-size: 20px;
}

.news form input:focus {
    outline: none;
}

.news form input::placeholder {
    color: #5C5CFF;
}

.news form button {
    width: 100%;
    padding: 7% 0;
    text-align: center;
    border-radius: 4px;
    background: #5C5CFF;
    color: #FFF;
    font-size: 20px;
    border: 1px solid #5C5CFF;
}

.news form button:hover {
    background-color: transparent;
}

/* Footer */
footer .container {
    width: 100%;
    padding: 0;
}

.footer-up {
    background-color: #1B1B4D;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    align-items: center;
    gap: 56px;
    padding: 12% 10%;
}

.footer-up>div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.medias {
    display: flex;
    gap: 12px;
    align-items: center;
}

.medias i {
    font-size: 20px;
    width: 40px;
    text-align: center;
    padding: 25% 0px;
    background-color: #ABABFA;
    border-radius: 30px;
    color: white;
}

.footer-pages {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-title {
    color: #ABABFA;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.footer-pages li a {
    color: #ABABFA;
    font-size: 14px;
}

footer form h3 {
    color: #FFF;
    font-size: 29px;
    margin-bottom: 32px;
}

footer form input {
    width: 100%;
    margin-bottom: 16px;
    padding: 7% 0;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #8989F8;
    background: #1B1B4D;
    color: white;
    font-size: 20px;
}

footer form button {
    width: 100%;
    padding: 7% 0;
    text-align: center;
    border-radius: 4px;
    background: #5C5CFF;
    color: #FFF;
    font-size: 20px;
    border: 1px solid #5C5CFF;
}

footer form input:focus {
    outline: none;
}

footer form button:hover {
    background-color: transparent;
}

.footer-bottom {
    background-color: #ABABFA;
    padding: 1% 10%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-rights {
    color: #1B1B4D;
    font-size: 14px;
    user-select: none;
}